.testimonials
  padding: 30px 0
  >div
    max-width: 860px
    margin: 0 auto
    h2
      font-size: var(--size-title)
      text-align: center
      margin-bottom: 20px
    ul
      margin: 0
      padding: 0
      display: grid
      gap: 20px
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
      list-style: none
      li
        display: flex
        background: #fff
        font-size: 14px
        align-items: flex-start
        img
          width: 50px
          height: 50px
          margin-right: 10px
          border-radius: 100%
        strong
          width: 100%
